/*-------HeaderChapter-------*/
.header-chapter-header {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 3rem;
    line-height: 1.167;
    letter-spacing: 0em;
    color: white;
}

.header-chapter-bg {
    background-image: url(https://volodymyr57.somee.com/Uploads/header_bg.jpeg);
    background-repeat: no-repeat round;
    background-size: 100%;
    border-radius: 0 !important;
}

#description {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.334;
    letter-spacing: 0em;
    color: white;
}

.btn-transit {
    text-transform: none !important;
    transition: all 1s !important;
}

.btn-transit:hover {
    background-color: rgb(27, 188, 163) !important;
    font-size: 1rem;
}

.stat-card {
    width: 220px;
    height: 200px;
    margin: 10px 5px;
    transition: all 1s !important;
}

.stat-card:hover {
    width: 230px !important;
    height: 210px;
}

.stat-card-top {
    margin: 10px 5px 0px 5px;
}

.stat-card-link {
    padding: 0 10px 0 10px;
    color: #7c9995;
    font-size: 15px;
    font-weight: 600;
}

.stat-card-content {
    padding: 0 10px 0 10px;
    margin: 0;
    color: #5f7c78;
    font-family: "Open Sans", sans-serif !important;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0;
}
