.stand-for-ua-link {
    margin: 0px 0px 16px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-decoration: none;
    font-weight: 700;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(0, 114, 229);
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: rgba(243, 246, 249, 0.4);
    border: 1px solid rgb(224, 227, 231);
    border-radius: 10px;
    transition-property: all;
    transition-duration: 150ms;
}

.flag {
    width: 206px;
}

.flag-line-blue {
    height: 12px;
    background-color: rgb(0, 87, 183);
}

.flag-line-yellow {
    height: 12px;
    background-color: rgb(255, 215, 0);
}

.stand-for-ua-text-wrapper {
    padding: 3px 8px;
}

.stand-for-ua-main-text {
    margin: 0px 8px 0px 0px;
    display: inline-block;
    font-size: 0.75rem;
    line-height: 1.5;
    letter-spacing: 0px;
    font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    scroll-margin-top: calc(var(--MuiDocs-header-height) + 72px);
    font-weight: 500;
    color: rgb(26, 32, 39);
}

.stand-for-ua-help-text {
    margin: 0px;
    display: inline-block;
    font-size: 0.75rem;
    line-height: 1.5;
    letter-spacing: 0px;
    font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    scroll-margin-top: calc(var(--MuiDocs-header-height) + 72px);
    font-weight: normal;
    color: rgb(62, 80, 96);
}