.public-layout-container {
    background-color: rgb(213, 206, 206);
    min-height: 100vh;
    /* background-image: url(https://s3propertyspace-dev.s3.eu-central-1.amazonaws.com/builds/ps_lease/1650555570/static/media/error-bg.99c52ecf.svg);
    background-repeat: no-repeat;
  
    min-height: 100vh;
    /* min-width: 991px; */
    /*margin: 0 40px; */
  }
  
  .admin-layout-container {
    background-color: transparent;
    padding: 0 !important;
    min-height: 100vh;
  }
  
  .logo {
    margin: 10px 0;
  }
  